body {
  background-color: #e3e3e3;
}

.navbar {
  background-color: #1d1d1d;
}

.nav-container {
  list-style-type: none;
  overflow: hidden;
  margin: 0%;
  padding: 5px;
}

.navbar-item {
  display: inline;
  float: left;
}

.navbar-item a,
h1 {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
  padding-left: 35px;
  font-size: 24px;
  color: #e7e7e7;
}

.navbar-item a:hover {
  color: #646bd9;
}

.fondo {
  background: url('../IMG/ayelt-van-veen-mbtm_sstPUc-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 84vh;
  display: flex;
  color: #e7e7e7;
  min-height: 30rem;
  padding-top: 1rem;
}

.card-fondo {
  display: flex;
  margin: auto;
}

.card-body {
  background-color: #11101067;
  width: 600px;
  height: 500px;
  display: grid;
  place-items: center;
}

.card-body img {
  padding-top: 30px;
  width: 170px;
  height: 240px;
}

.main-container .card-container {
  display: flex;
  text-align: center;
  padding: 30px;
  justify-content: space-evenly;
}

.main-container h2 {
  text-align: center;
  margin: 40px;
  font-size: 36px;
}

.card-container {
  padding: 60px;
  margin: 0;
  background: #6d115b;
  background: linear-gradient(to right, #3232b6, #a87a17c5);
  color: rgba(255, 255, 255, 0.603);
}

.card {
  background-color: #4169e1;
  width: 285px;
  height: 395px;
  border: 4px solid #1b1b1b23;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 10px 0px #1b1b1b8f;
}

.card img {
  padding: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 45px;
}

.card ul {
  list-style-type: none;
  margin-left: -25px;
}

.card ul li {
  font-size: 18px;
  padding: 10px;
}

.fondo2 {

  background: url('../IMG/brad-pearson-F7jbx9JN7Us-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 84vh;
  display: flex;
  color: #ffffff;
  min-height: 30rem;
  padding-top: 1rem;
}

.card-fondo2 {
  display: flex;
  margin: auto;
}

.card-body2 {
  background-color: #11101067;
  width: 600px;
  height: 500px;
  display: grid;
  place-items: center;
}

.card-body2 img {
  padding-top: 30px;
  width: 170px;
  height: 240px;
}

.fondo3 {

  background: url('../IMG/blue_purple_tunnel_artistic_digital_art_stock_windows_11_purple_background_4k_hd_windows_11-2560x1440.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 84vh;
  display: flex;
  color: #ffffff;
  min-height: 30rem;
  padding-top: 1rem;
}